Source: telepathy-eri
Section: unknown
Priority: extra
Maintainer: Aleksandr Stepanov <i@eerie.su>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/alex-eri/telepathy-eri/wiki
#Vcs-Git: git://git.debian.org/collab-maint/telepathy-eri.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/telepathy-eri.git;a=summary

Package: telepathy-eri
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A VK connection manager for Telepathy
 Chat for vk.com
